.App {
  text-align: center;

}

.movieForm{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  background-color: #b0bec5;
  padding: 15px;
  border-radius: 15px;;
}
.textInput{
  display: flex;
  justify-content: space-around;
  padding: 20px
}
.descriptionInput{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px
}
textarea{
  padding: 10px;
  margin: 10px;
}


.movieHeader {
  background-color: #d32f2f;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.movies {
  display: flex;
  justify-content: space-around;
}
.buttonPanel{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.poster{
  height: 350px;
  width: auto;
}
.movieCard{
  width: 17%;
  height: 400px;
  background-color: #b0bec5;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.movieCard:hover{
  box-shadow: 5px 5px 5px grey;
  transition: .2s;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
