.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.movies {
  display: flex;
  justify-content: space-around;
}
.buttonPanel{
  width: 30%;
  margin: auto;
}
.movieForm {
  width: 50%;
  margin: auto;
}
.textInput{
  
}
.descriptionInput{

}
.movieCard{
  width: 17%;
  height: 400px;
  background-color: lightgray;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.movieCard:hover{
  box-shadow: 5px 5px 5px grey;
  transition: .2s;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
